.room_allocation_wrapper {
  width: 720px;
  padding: 8px;

  .restNumber {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 8px;
    border-style: solid;
    border-color: #dff3f9;
    border-radius: 4px;
    background-color: #f1fdff;
    font-weight: bold;
    font-size: 14px;
  }
}
